@font-face {
    font-family: "TerumoBCTBold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/terumobct_bd-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/terumobct_bd-webfont.woff") format("woff"), url("fonts/terumobct_bd-webfont.ttf") format("truetype"), url("fonts/terumobct_bd-webfont.svg#TerumoBCTBold") format("svg");
}

@font-face {
    font-family: "TerumoBCTLight";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/terumobct_lt-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/terumobct_lt-webfont.woff") format("woff"), url("fonts/terumobct_lt-webfont.ttf") format("truetype"), url("fonts/terumobct_lt-webfont.svg#TerumoBCTLight") format("svg");
}

@font-face {
    font-family: "TerumoBCTItalic";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/terumobct_rgit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/terumobct_rgit-webfont.woff") format("woff"), url("fonts/terumobct_rgit-webfont.ttf") format("truetype"), url("fonts/terumobct_rgit-webfont.svg#TerumoBCTItalic") format("svg");
}

@font-face {
    font-family: "TerumoBCTRegular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/terumobct_rg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/terumobct_rg-webfont.woff") format("woff"), url("fonts/terumobct_rg-webfont.ttf") format("truetype"), url("fonts/terumobct_rg-webfont.svg#TerumoBCTRegular") format("svg");
}

@font-face {
    font-family: "TerumoBCTBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/terumobct_bdit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/terumobct_bdit-webfont.woff") format("woff"), url("fonts/terumobct_bdit-webfont.ttf") format("truetype"), url("fonts/terumobct_bdit-webfont.svg#TerumoBCTBoldItalic") format("svg");
}

@font-face {
    font-family: "TerumoBCTThin";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/terumobct_th-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/terumobct_th-webfont.woff") format("woff"), url("fonts/terumobct_th-webfont.ttf") format("truetype"), url("fonts/terumobct_th-webfont.svg#TerumoBCTThin") format("svg");
}


/*native elements*/

html,
body {
    background-color: #ffffff;
    color: #414042;
    font-family: "TerumoBCTRegular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}


/**,
*:before,
*:after {
    box-sizing: border-box;
}*/

.selects label {
    padding-right: 1em;
}

.selects input {
    opacity: 1 !important;
}

.toolbar input {
    opacity: 1 !important;
}


/*input[type="radio"] {
    height: 15px !important;
    margin: 0;
    padding: 0;
    width: 15px !important;
}*/


/*main title and sub title*/

.mainTitle {
    font-family: "TerumoBCTBold", Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    text-transform: uppercase;
}

.subTitle {
    font-size: 1.5em;
    text-transform: uppercase;
}

.titleHeader {
    display: inline-block;
    color: #fff;
    margin-left: -15px;
}


/*language and product selector*/

.selector {
    background-color: #fff;
    background-image: url("../imgs/WelcomeBG.jpg");
    background-repeat: no-repeat;
    background-size: 833px 489px;
    color: #fff;
    display: block;
    font-size: 1em;
    height: 489px;
    margin: 0 auto;
    padding: 38px 30px 40px;
    transition: all 1s;
    width: 833px;
    z-index: 2001;
    overflow: hidden;
}

.fadeWrapper {
    min-height: 500px;
}

.selectHide {
    height: 0px;
    padding: 0;
}

.selects {
    margin-bottom: 20px;
}

#header {
    background-color: #fff;
    height: 108px;
    position: relative;
    width: 833px;
    margin: 0 auto;
}

#TBCTlogo {
    position: absolute;
    right: -20px;
    top: 30px;
}

#pageTitle {
    left: 0;
    position: absolute;
    top: 30px;
}

button {
    transition: all .125s;
}

.orangeBTN {
    background-color: #ff7900;
    color: #fff;
    font-size: 1em;
    padding: 8px 12px;
}

.orangeBTN:hover {
    background-color: #CC4600;
}

.greenBTN {
    background-color: #009a44;
    color: #fff;
    font-size: 1em;
    padding: 8px 12px;
}

.greenBTN:hover {
    background-color: #006711;
}

.finalBTNs {
    float: right;
    margin: 5px 25px;
}

.inactiveBTN {
    background-color: #bcbcbc;
    background-image: url("../imgs/ltGreyArrow4BTN.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #fff;
    cursor: default;
    padding: 8px 28px 8px 12px;
    text-decoration: none;
}

.smlGreyBTN {
    background-color: #f1f1f1;
    color: #777;
    padding: 4px 5px;
    text-decoration: none;
}

.smlGreyBTN:hover {
    background-color: #009a44;
    color: #fff;
}

.stepImage img {
    position: relative;
    z-index: 0;
}

.stepImage {
    border: 14px solid #bcbcbc;
    cursor: pointer;
    display: block;
    height: 157px;
    margin-top: 20px;
    position: relative;
    width: 209px;
}

.stepImageHovered {
    border: 14px solid #009a44;
}

.clear {
    clear: both;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.center {
    text-align: center;
}

img {
    border: medium none;
}

a {
    text-decoration: none;
}

.drkGrey {
    color: #3c454f;
}

.ltGrey {
    color: #777;
}

.green {
    color: #009a44;
}

.bold {
    font-weight: bold;
}

.boldT {
    font-family: "TerumoBCTBold", Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.eleven {
    font-size: 11px;
}

.thirteen {
    font-size: 13px;
}

.fourteen {
    font-size: 14px;
}

.eighteen {
    font-size: 18px;
}

.spaced {
    letter-spacing: 1px;
}

.nospace {
    margin: 0;
    padding: 0;
}

a:active {
    outline: medium none;
}

#closeImg {
    cursor: pointer;
    opacity: 0;
}

#image_wrap {
    bottom: 10px;
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 546px;
    z-index: 1000;
}

label.custom-select {
    display: inline-block;
    position: relative;
}

.custom-select select {
    -moz-appearance: none;
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #3c454f;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 1.2;
    margin: 0;
    outline: medium none;
    padding: 4px 3px 3px 5px;
    width: 450px;
}

#SectionNav {
    height: 400px;
    transition: all 1s;
}

.custom-select::after {
    background-color: #009a44;
    bottom: 0;
    color: #fff;
    content: url("../imgs/downArrow-selector.gif");
    font-size: 100%;
    line-height: 30px;
    padding: 0 7px 7px;
    pointer-events: none;
    position: absolute;
    right: 17px;
    top: 0;
}

.ie9 .custom-select::after {
    display: none;
}

.ie8 .custom-select::after {
    display: none;
}

.ie7 .custom-select::after {
    display: none;
}

.no-pointer-events .custom-select::after {
    content: none;
}

.footer {
    clear: both;
    display: block;
    margin: 0 auto;
    width: 833px;
}

.spacedOut {
    font-size: 0.75em;
    margin: 0 10px;
}

.wrapper {
    display: table;
    margin: 0 auto;
}

.toolbar {
    background: #eee;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    font-size: 14px;
}

.divider {
    display: inline-block;
    border-right: 1px solid;
    padding: 10px;
}

.divider.pull-right {
    border: 0 none;
    float: right;
}

.toolbarButton {
    border: 1px solid #aaa;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition: background .125s, opacity .125s;
}

.toolbarButton:hover {
    background: #bbb;
}

.selectTool {
    opacity: 0.33;
    margin: 0 2.5px;
}

.selectToolNoOpacity {
    margin: 0 2.5px;
}

.selectTool:hover {
    opacity: 1;
}

.toolbarButtonActive {
    opacity: 1;
    background: #ccc;
    border: 3px solid;
}

.fixedButton {
    font-size: 32px;
    padding: 1px 10px;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
}

#container {
    border: 1px solid #333;
}

.editButton {
    padding: 1px 2px;
}

.toolbar label {
    display: inline-block;
    padding: 10px;
}

.toolbar label input[type="checkbox"] {
    vertical-align: middle;
    transform: scale(1.5);
}

.drawView {
    transition: max-height 1s;
    max-height: 0;
    overflow: hidden;
}

.drawShow {
    max-height: 4000px;
}

.formView {
    width: 833px;
    margin: 0 auto;
}

.tooltip {
    position: relative;
}

.tooltip:hover::after {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-radius: 5px;
    bottom: -34px;
    color: #fff;
    content: attr(tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    white-space: nowrap;
    z-index: 98;
}

.tooltip:hover::before {
    border-color: #333 transparent;
    border-image: none;
    border-style: solid;
    border-width: 0px 6px 6px;
    bottom: -8px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.center {
    display: table;
    margin: 0 auto;
}