<form name="userForm" id="userForm" autocomplete="off" target="_self" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/eFZeNpf3crK">
    <div class="submitter-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Basic Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Customer Reference Number:</label>
                                <input type="text" class="form-control" id="element_0" name="element_0">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Date of Incident:<span class="required"> * </span></label>
                                <input id="element_1" name="element_1" type="text" class="form-control datepicker" placeholder="Please Select" required>
                                <span class="glyphicon glyphicon-calendar date-style-hook form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Facility Name:<span class="required"> * </span></label>
                                <input id="element_2" name="element_2" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Address:<span class="required"> * </span></label>
                                <input id="element_4" name="element_4" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Address Line 2:</label>
                                <input id="element_5" name="element_5" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">City:<span class="required"> * </span></label>
                                <input id="element_6" name="element_6" type="text" class="form-control" required>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">State/Province/Region:<span class="required"> * </span></label>
                                <input id="element_7" name="element_7" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Country:<span class="required"> * </span></label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select class="form-control" id="element_9" name="element_9" required>
                                        <option value="">Country</option>
                                        <optgroup label="North America">
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Panama ">Panama </option>
                                            <option value="Puerto Rico ">Puerto Rico </option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="United States">United States</option>
                                        </optgroup>
                                        <optgroup label="South America">
                                            <option value="Argentina">Argentina</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Chile">Chile</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Venezuela">Venezuela</option>
                                        </optgroup>
                                        <optgroup label="Europe">
                                            <option value="Albania">Albania</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macedonia">Macedonia</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Moldova">Moldova</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Romania">Romania</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Vatican City">Vatican City</option>
                                        </optgroup>
                                        <optgroup label="Asia">
                                            <option value="&#65279;Afghanistan">&#65279;Afghanistan</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="China">China</option>
                                            <option value="East Timor">East Timor</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran">Iran</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="North Korea">North Korea</option>
                                            <option value="South Korea">South Korea</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Laos">Laos</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palestine">Palestine</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Russia">Russia</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Syria">Syria</option>
                                            <option value="Taiwan">Taiwan</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vietnam">Vietnam</option>
                                            <option value="Yemen">Yemen</option>
                                        </optgroup>
                                        <optgroup label="Oceania">
                                            <option value="Australia">Australia</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Micronesia">Micronesia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                        </optgroup>
                                        <optgroup label="Africa">
                                            <option value="Algeria">Algeria</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                            <option value="Republic of the Congo">Republic of the Congo</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                                            <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libya">Libya</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="United Republic of Tanzania">United Republic of Tanzania</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </optgroup>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Postal/Zip Code:<span class="required"> * </span></label>
                                <input type="text" class="form-control" id="element_8" name="element_8" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">User's Name/Title:<span class="required"> * </span></label>
                                <input id="element_12" name="element_12" class="form-control" type="text" placeholder="First" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <input id="element_13" name="element_13" class="form-control" type="text" placeholder="Last" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <input id="element_15" name="element_15" class="form-control" type="text" placeholder="Title" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Telephone:<span class="required"> * </span></label>
                                <input id="element_16" name="element_16" class="form-control" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Email:<span class="required"> * </span></label>
                                <input id="element_17" name="element_17" class="form-control" type="email" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Catalog Number:<span class="required"> * </span></label>
                                <input id="element_18" name="element_18" class="form-control" type="text" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Set Lot Number:</label>
                                <input id="element_19" name="element_19" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Set Number:</label>
                                <input id="element_20" name="element_20" class="form-control" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Type of set:</label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select class="form-control" id="element_21" name="element_21">
                                        <option value="">Please select</option>
                                        <option value="ELP">ELP</option>
                                        <option value="WBC">WBC</option>
                                        <option value="TPE">TPE</option>
                                        <option value="RBCX">RBCX</option>
                                        <option value="Other">Other</option>
                                        <option value="Functionally Closed WBC">Functionally Closed WBC</option>
                                        <option value="AutoPBSC">AutoPBSC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Machine Serial Number:</label>
                                <input id="element_22" name="element_22" type="text" class="form-control" placeholder="1S0XXXX">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="incident-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Incident Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">When did this incident occur?<span class="required"> * </span></label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select id="element_23" name="element_23" class="form-control" required>
                                        <option value="">Please select</option>
                                        <option value="Set-up">Set-up</option>
                                        <option value="Prime">Prime</option>
                                        <option value="Run">Run</option>
                                        <option value="Rinseback">Rinseback</option>
                                        <option value="Post-procedure">Post-procedure</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Was there a death or an injury related to this incident?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if there was a death related to the use of the device."></span>
                                </p>
                                <input id="element_24_0" name="element_24" value="NO" type="radio" required>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_24_1" name="element_24" value="YES" type="radio" required>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Did this incident require medical intervention?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if the procedure resulted in an unplanned medical treatment such as hospitalization, blood transfusion or medications."></span>
                                </p>
                                <input id="element_25_0" name="element_25" value="NO" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_25_1" name="element_25" value="YES" type="radio" required/>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Was this incident reported to a regulatory body?<span class="required"> * </span></label>
                                </p>
                                <input id="element_26_0" name="element_26" value="NO" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_26_1" name="element_26" value="YES" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Yes</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Is this product available for return?<span class="required"> * </span></label>
                                </p>
                                <input id="element_27_0" name="element_27" value="NO" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_27_1" name="element_27" value="YES" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Additional Information:<span class="required"> * </span></label>
                                <textarea title="This Field is Required" id="element_29" name="element_29" cols="45" rows="5" class="form-control" onfocus="this.value=''; this.onfocus=null;" placeholder="Use this field to provide additional information regarding the incident. If medical intervention was required, please describe the treatment and outcome of the treatment." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Would you like to be contacted by a Terumo BCT Quality Specialist?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if the procedure resulted in an unplanned medical treatment such as hospitalization, blood transfusion or medications."></span>
                                </p>
                                <input id="element_28_0" name="element_28" value="NO" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_28_1" name="element_28" value="YES" type="radio" required/>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>
                    </div>
                    <input name="element_counts" value="34" type="hidden" />
                    <input name="embed" value="forms" type="hidden" />
                </div>
            </div>
        </div>
    </div>
</form>