<form name="userForm" id="userForm" autocomplete="off" target="_self" enctype="multipart/form-data" method="post" action="http://www.emailmeform.com/builder/form/Rj7v5aD4f2AfVfy5TBt0L">
    <div class="submitter-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Basic Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Blood Center Name:<span class="required"> * </span></label>
                                <input id="element_0" name="element_0" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Date of Incident:<span class="required"> * </span></label>
                                <input id="element_1" name="element_1" type="text" class="form-control datepicker" placeholder="Please Select" required>
                                <span class="glyphicon glyphicon-calendar date-style-hook form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Address:<span class="required"> * </span></label>
                                <input id="element_3" name="element_3" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Address Line 2:</label>
                                <input id="element_4" name="element_4" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">City:<span class="required"> * </span></label>
                                <input id="element_5" name="element_5" type="text" class="form-control" required>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">State/Province/Region:<span class="required"> * </span></label>
                                <input id="element_6" name="element_6" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Country:<span class="required"> * </span></label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select id="element_8" name="element_8" class="form-control" required>
                                        <option value="">Country</option>
                                        <optgroup label="North America">
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Panama ">Panama </option>
                                            <option value="Puerto Rico ">Puerto Rico </option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="United States">United States</option>
                                        </optgroup>
                                        <optgroup label="South America">
                                            <option value="Argentina">Argentina</option>
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Chile">Chile</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Venezuela">Venezuela</option>
                                        </optgroup>
                                        <optgroup label="Europe">
                                            <option value="Albania">Albania</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macedonia">Macedonia</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Moldova">Moldova</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Romania">Romania</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="Vatican City">Vatican City</option>
                                        </optgroup>
                                        <optgroup label="Asia">
                                            <option value="&#65279;Afghanistan">&#65279;Afghanistan</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="China">China</option>
                                            <option value="East Timor">East Timor</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran">Iran</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="North Korea">North Korea</option>
                                            <option value="South Korea">South Korea</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Laos">Laos</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palestine">Palestine</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Russia">Russia</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Syria">Syria</option>
                                            <option value="Taiwan">Taiwan</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vietnam">Vietnam</option>
                                            <option value="Yemen">Yemen</option>
                                        </optgroup>
                                        <optgroup label="Oceania">
                                            <option value="Australia">Australia</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Micronesia">Micronesia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                        </optgroup>
                                        <optgroup label="Africa">
                                            <option value="Algeria">Algeria</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                                            <option value="Republic of the Congo">Republic of the Congo</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                                            <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libya">Libya</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="United Republic of Tanzania">United Republic of Tanzania</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Postal/Zip Code:<span class="required"> * </span></label>
                                <input id="element_7" name="element_7" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Incident Reported by Name/Title:<span class="required"> * </span></label>
                                <input id="element_9" name="element_9" type="text" class="form-control" placeholder="First/Last" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Telephone:<span class="required"> * </span></label>
                                <input id="element_10" name="element_10" class="validate[required,custom[telephone]] form-control" value="" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Email:<span class="required"> * </span></label>
                                <input id="element_11" name="element_11" class="validate[required,custom[email]] form-control" value="" type="email" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Operator's Name:</label>
                                <input id="element_14" name="element_14" type="text" class="form-control" placeholder="First">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <input id="element_15" name="element_15" type="text" class="form-control" placeholder="Last">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Customer/Other:</label>
                                </p>
                                <input type="radio" id="element_17_0" name="element_17">
                                <label class="radio-margin-right"><span><span></span></span>Customer</label>
                                <input type="radio" id="element_17_1" name="element_17">
                                <label class=""><span><span></span></span>Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Fax:</label>
                                <input id="element_18" name="element_18" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Terumo BCT Sales Consultant:</label>
                                <input id="element_19" name="element_19" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="incident-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Incident Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Was there a death or an injury related to this incident?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if there was a death related to the use of the device."></span>
                                </p>
                                <input id="element_20_0" name="element_20" value="NO" type="radio" required>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_20_1" name="element_20" value="YES" type="radio" required>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Injury To:<span class="required"> *</span></label>
                                </p>
                                <input id="element_21_0" name="element_21" value="User" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>User</label>
                                <input id="element_21_1" name="element_21" value="Donor" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Donor</label>
                                <input id="element_21_2" name="element_21" value="Other" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Other</label>
                                <input id="element_21_3" name="element_21" value="None" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>None</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Did this incident require medical intervention?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if the procedure resulted in an unplanned medical treatment such as hospitalization, blood transfusion or medications."></span>
                                </p>
                                <input id="element_22_0" name="element_22" value="NO" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_22_1" name="element_22" value="YES" type="radio" required/>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Was this incident reported to a regulatory body?<span class="required"> *</span></label>
                                </p>
                                <input id="element_24_0" name="element_24" value="No" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_24_1" name="element_24" value="Yes" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Additional Information:</label>
                                <textarea id="element_23" name="element_23" class="form-control" onfocus="this.value=''; this.onfocus=null;" rows="3" cols="45" placeholder="Use this field to provide additional information regarding the incident. If medical intervention was required, please describe the treatment and outcome of the treatment."></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product Code:<span class="required"> * </span></label>
                                <input id="element_25" name="element_25" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Lot Number:<span class="required"> * </span></label>
                                <input id="element_26" name="element_26" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Donor Number:<span class="required"> * </span></label>
                                <input id="element_27" name="element_27" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Date of Report:<span class="required"> * </span></label>
                                <input id="element_28" name="element_28" type="text" class="form-control datepicker" placeholder="Please Select" required>
                                <span class="glyphicon glyphicon-calendar date-style-hook form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Number of Actual Defective Bags:</label>
                                <input id="element_29" name="element_29" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Returning set for analysis?<span class="required"> * </span></label>
                                </p>
                                <input id="element_30_0" name="element_30" value="No" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_30_1" name="element_30" value="Yes" type="radio" required/>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Does the customer want investigative results?<span class="required"> * </span></label>
                                </p>
                                <input id="element_31_0" name="element_31" value="No" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>No</label>
                                <input id="element_31_1" name="element_31" value="Yes" type="radio" required/>
                                <label class=""><span><span></span></span>Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Location:</label>
                                <div>
                                    <select id="element_32" name="element_32[]" multiple="multiple" class="form-control">
                                        <option value="Needle">Needle</option>
                                        <option value="Needle Projector">Needle Projector</option>
                                        <option value="Tubing">Tubing</option>
                                        <option value="Y Joint">Y Joint</option>
                                        <option value="Blood Sampling Arm&reg;">Blood Sampling Arm&reg;</option>
                                        <option value="Diversion Blood Sampling Arm&reg;">Diversion Blood Sampling Arm&reg;</option>
                                        <option value="Port Cap">Port Cap</option>
                                        <option value="CLIKTIP&reg;">CLIKTIP&reg;</option>
                                        <option value="Bag (Primary)">Bag (Primary)</option>
                                        <option value="Bag (Satellite)">Bag (Satellite)</option>
                                        <option value="In-line Filter">In-line Filter</option>
                                        <option value="DonorCare&reg; Needle Guard (DCNG)">DonorCare&reg; Needle Guard (DCNG)</option>
                                        <option value="Other Needle Safety Device">Other Needle Safety Device</option>
                                        <option value="White Clamp">White Clamp</option>
                                        <option value="Bypass Line">Bypass Line</option>
                                        <option value="Tube Holder/Luer Adapter">Tube Holder/Luer Adapter</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Type:</label>
                                <div>
                                    <select id="element_33" name="element_33[]" multiple="multiple" class="form-control">
                                        <option value="Anticoagulant Leak">Anticoagulant Leak</option>
                                        <option value="Kink or Crease">Kink or Crease</option>
                                        <option value="Spot or Coloration">Spot or Coloration</option>
                                        <option value="Hole">Hole</option>
                                        <option value="Tear/Split">Tear/Split</option>
                                        <option value="Tubing Break">Tubing Break</option>
                                        <option value="Label or Printing">Label or Printing</option>
                                        <option value="CLIKTIP&reg; Issue">CLIKTIP&reg; Issue</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="product-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Equipment Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Scale Brand/Model:</label>
                                <input id="element_35" name="element_35" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Liner/Inserts:</label>
                                <input id="element_40" name="element_40" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Centrifuge Brand/Model:</label>
                                <input id="element_37" name="element_37" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Centrifuge ID:</label>
                                <input id="element_38" name="element_38" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Centrifuge Cup Type:</label>
                                </p>
                                <input id="element_39_0" name="element_39" value="Round" type="radio" />
                                <label class="radio-margin-right"><span><span></span></span>Round</label>
                                <input id="element_39_1" name="element_39" value="Oval" type="radio" />
                                <label class=""><span><span></span></span>Oval</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Hemostat Type:</label>
                                </p>
                                <input id="element_36_0" name="element_36" type="radio" value="Plastic">
                                <label class="radio-margin-right"><span><span></span></span>Plastic</label>
                                <input id="element_36_1" name="element_36" type="radio" value="Metal">
                                <label class=""><span><span></span></span>Metal</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Balancing:</label>
                                </p>
                                <input id="element_41_0" name="element_41" value="Discs" type="radio" />
                                <label class="radio-margin-right"><span><span></span></span>Discs</label>
                                <input id="element_41_1" name="element_41" value="Other" type="radio" />
                                <label class=""><span><span></span></span>Other</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Other:</label>
                                <input id="element_42" name="element_42" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="time-of-detection">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Time of Detection</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input id="element_44_0" name="element_44" value="Before Phlebotomy" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Before Phlebotomy</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input id="element_44_1" name="element_44" value="During Phlebotomy" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>During Phlebotomy</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input id="element_44_2" name="element_44" value="During Transportation" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>During Transportation</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input id="element_44_3" name="element_44" value="Before Centrifugation" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Before Centrifugation</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input id="element_44_4" name="element_44" value="After Centrifugation" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>After Centrifugation</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <input id="element_53_0" name="element_44" value="During Storage" type="radio" />
                                <label class=""><span><span></span></span>During Storage</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="form-group">
                                <input id="element_45_0" name="element_44" value="First Spin" type="radio" />
                                <label class=""><span><span></span></span>First Spin</label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label>RPM:
                                    <input id="element_46" name="element_46" type="text" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label>Time:
                                    <input id="element_47" name="element_47" type="text" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label>Break:
                                    <input id="element_48" name="element_48" type="text" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1"></div>
                        <div class="col-xs-2">
                            <div class="form-group">
                                <input id="element_49_0" name="element_44" value="Second Spin" type="radio" />
                                <label class=""><span><span></span></span>Second Spin</label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label>RPM:
                                    <input id="element_50" name="element_50" type="text" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label>Time:
                                    <input id="element_51" name="element_51" type="text" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div class="form-group">
                                <label>Break:
                                    <input id="element_52" name="element_52" type="text" class="form-control">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Blood Product Being Produced:</label>
                                <input id="element_54" name="element_54" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product Temperature During Filtration:<span class="required"> * </span></label>
                                <input id="element_55" name="element_55" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Filtration Time:</label>
                                <input id="element_56" name="element_56" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Cold Storage Temperature:</label>
                                <input id="element_57" name="element_57" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Time Between Collection and Start of Filtration:</label>
                                <input id="element_58" name="element_58" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input name="element_counts" value="63" type="hidden" />
    <input name="embed" value="forms" type="hidden" />
</form>