<!DOCTYPE html>
<html>

<head>
    <title>SPR</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="css/main.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body ng-app="spr">
    <div class="row">
        <div class="container-fluid green-nav-bg">
            <div class="row">
                <div class="container">
                    <div class="col-xs-12 branding-row">
                        <div class="titleHeader">
                            <span class="mainTitle">{{translationObj[currentLanguage].h1Title}}</span>
                            <br>
                            <span class="subTitle">{{translationObj[currentLanguage].h2Title}}</span>
                        </div>
                        <span class="terumo-logo"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #f8f8f8;border-bottom: 1px solid #e7e7e7;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="progress-row">
                        <div class="progress-item" ng-class="{'current':!selectHide,'completed':selectHide}">
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                        <div class="progress-item" ng-class="{'current':drawShow,'completed':formShow}">
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                        <div class="progress-item" ng-class="{'current':formShow,'completed':formShow&&previewShow}">
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                        <div class="progress-item" ng-class="{'current':formShow&&previewShow}">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="fadeWrapper">
        <div class="selector" ng-class="{'selectHide':selectHide}">
            <div class="mainTitle">{{translationObj[currentLanguage].welcome}}</div>
            <p>{{translationObj[currentLanguage].para1}}</p>
            <p>{{translationObj[currentLanguage].para2}}</p>
            <ol>
                <li ng-repeat="li in translationObj[currentLanguage].list">{{li}}</li>
            </ol>
            <p>{{translationObj[currentLanguage].para3}}</p>
            <hr>
            <br>
            <div class="selects">
                <label>
                    <input type="radio" ng-model="currentLanguage" value="en"> English
                </label>
                <label>
                    <input type="radio" ng-model="currentLanguage" value="fr"> Francais
                </label>
            </div>
            <div class="selects">
                <label class="custom-select">
                    <select ng-model="selectedProd" ng-options="product as product.label disable when product.value===null for product in translationObj[currentLanguage].products">
                    </select>
                </label>
                <button ng-click="goToProductPage()" class="greenBTN boldT spaced">{{translationObj[currentLanguage].beginButton}} <span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>

        <div ng-controller="drawController" class="drawView" ng-class="{'drawShow':drawShow}">
            <div class="wrapper">
                <div class="toolbar">
                    <span class="divider tooltip" tooltip="{{translationObj[currentLanguage].toolTipList.color}}">
                    {{translationObj[currentLanguage].toolList[0]}}:
                    <span class="toolbarButton selectTool fixedButton" ng-class="{'toolbarButtonActive':curColorIndex==$index}" style="background:{{c}};" ng-click="changeColor($index)" ng-repeat="c in colors">&nbsp;</span>
                    </span>
                    <span class="divider tooltip" tooltip="{{translationObj[currentLanguage].toolTipList.tool}}">
                    {{translationObj[currentLanguage].toolList[1]}}:
                    <span class="toolbarButton selectToolNoOpacity" ng-class="{'toolbarButtonActive':curToolIndex==$index}" ng-click="changeTool($index)" ng-repeat="t in translationObj[currentLanguage].tools">{{t}}</span>
                    </span>
                    <span class="divider tooltip" tooltip="{{translationObj[currentLanguage].toolTipList.zoom}}">
                    {{translationObj[currentLanguage].toolList[2]}}:
                    <span class="toolbarButton selectToolNoOpacity fixedButton" ng-click="changeZoom(z)" ng-repeat="z in zooms"><span class="glyphicon glyphicon-{{z.dir}}"></span></span>
                    </span>
                    <span class="divider tooltip" tooltip="{{translationObj[currentLanguage].toolTipList.background}}">
                    <label>{{translationObj[currentLanguage].toolList[3]}}:
                        <input type="checkbox" ng-model="globalAlphaBool" ng-click="showHide()">
                    </label>
                </span>
                    <span class="divider pull-right">
                    <span class="toolbarButton selectToolNoOpacity tooltip" tooltip="{{translationObj[currentLanguage].toolTipList.clear}}" style="background:#683039;color:#fff;" ng-click="clear()">{{translationObj[currentLanguage].toolList[4]}}</span>
                    <span class="toolbarButton selectToolNoOpacity tooltip" tooltip="{{translationObj[currentLanguage].toolTipList.save}}" style="background:#008642;color:#fff;" ng-click="done()">{{translationObj[currentLanguage].toolList[5]}}</span>
                    <a ng-click="download($event)" download="export.png">Download</a>
                    </span>
                </div>
                <div id="container"></div>
            </div>
        </div>
        <div class="drawView" ng-class="{'drawShow':formShow}">
            <div class="container">
                <h1 ng-show="formShow&&previewShow">{{translationObj[currentLanguage].rfad}}</h1>

                <div class="container" ng-hide="!previewShow">
                    <img ng-src="{{previewImg}}">
                </div>

                <br>
                <br>
                <div ng-include src="formName"></div>
                <div class="row" ng-hide="previewShow">
                    <div class="col-xs-6">
                        <button ng-click="backToDrawing()" class="orangeBTN boldT spaced"><span class="glyphicon glyphicon-arrow-left"></span> {{translationObj[currentLanguage].backToDiagram}}</button>
                    </div>
                    <div class="col-xs-6">
                        <button ng-click="finish()" class="greenBTN boldT spaced pull-right">{{translationObj[currentLanguage].reviewAndSubmit}} <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                </div>
                <div class="row" ng-hide="!showSubmit">
                    <div class="col-xs-4">
                        <button ng-click="backToEdit()" class="orangeBTN boldT spaced"><span class="glyphicon glyphicon-edit"></span> {{translationObj[currentLanguage].backToEdit}}</button>
                    </div>
                    <div class="col-xs-4">
                        <button ng-click="print()" class="orangeBTN boldT spaced center-block"><span class="glyphicon glyphicon-print"></span> {{translationObj[currentLanguage].print}}</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" form="userForm" class="greenBTN boldT spaced pull-right">{{translationObj[currentLanguage].submit}} <span class="glyphicon glyphicon-check"></span></button>
                    </div>
                </div>
                <br>
            </div>
        </div>

    </div>
    <div class="footer">
        <p class="eleven ltGrey" style="margin-bottom:7px;">{{translationObj[currentLanguage].QorC}}<span class="glyphicon glyphicon-certificate spacedOut"></span> {{translationObj[currentLanguage].tollFree}} <span class="bold green">{{translationObj[currentLanguage].phoneNumber}}</span><span class="glyphicon glyphicon-certificate spacedOut"></span> email <a class="bold green" href="mailTo:BCT.customersupport@terumobct.com">BCT.customersupport@terumobct.com</a><span style="padding:0px; margin:0px 20px 0px 0px;"><span class="glyphicon glyphicon-copyright-mark" style="margin-left: 10px"></span> 2014 Terumo BCT, Inc. {{translationObj[currentLanguage].aRR}}</span>
            <br/>
            <br/>
            <div style="clear:both; margin-left:auto; margin-right:auto;"><a class="bold smlGreyBTN" href="help.html" target="_blank">{{translationObj[currentLanguage].quickOverview}} <span class="glyphicon glyphicon-arrow-right"></span></a><span>  <a class="bold smlGreyBTN" href="javascript:window.location.href=window.location.href">{{translationObj[currentLanguage].startOver}} <span class="glyphicon glyphicon-arrow-right"></span></a>
                </span>
            </div>
        </p>
    </div>
</body>
<script src="js/app.js"></script>

</html>