<form name="userForm" id="userForm" autocomplete="off" action="http://www.emailmeform.com/builder/form/fqB2vmbVEgd" method="post" enctype="multipart/form-data" target="_self">
    <div class="submitter-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Informations de base</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nº de référence client:</label>
                                <input id="element_0" name="element_0" value="" class="validate[optional] form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Date de l'incident:<span class="required"> * </span></label>
                                <input id="element_1" name="element_1" value="" type="text" class="validate[required] form-control datepicker" placeholder="Sélectionner" required />
                                <span class="glyphicon glyphicon-calendar date-style-hook form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nom de l'établissement:<span class="required"> * </span></label>
                                <input id="element_2" name="element_2" value="" class="validate[required] form-control" type="text" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Adresse:<span class="required"> * </span></label>
                                <input id="element_4" name="element_4" value="" class="validate[required] form-control" type="text" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Adresse 2:</label>
                                <input id="element_5" name="element_5" value="" class="validate[optional] form-control" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Ville:<span class="required"> * </span></label>
                                <input id="element_6" name="element_6" value="" class="validate[required] form-control" type="text" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">État/Province/Région:<span class="required"> * </span></label>
                                <input id="element_7" name="element_7" value="" class="validate[required] form-control" type="text" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Pays:<span class="required"> * </span></label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select id="element_9" name="element_9" value="" class="validate[required] form-control" type="text" required>
                                        <option value="">Pays</option>
                                        <optgroup label="Amérique du nord">
                                            <option value="Antigua and Barbuda">Antigua-et-Barbuda</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Barbados">Barbade</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cook Islands">Îles Cook</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Dominica">Dominique</option>
                                            <option value="Dominican Republic">République Dominicaine</option>
                                            <option value="El Salvador">Salvador</option>
                                            <option value="Grenada">Grenade</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Haiti">Haïti</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Jamaica">Jamaïque</option>
                                            <option value="Mexico">Mexique</option>
                                            <option value="Netherlands Antilles">Antilles Néerlandaises</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Puerto Rico">Porto Rico</option>
                                            <option value="Saint Kitts and Nevis">Saint-Kitts-et-Nevis</option>
                                            <option value="Saint Lucia">Sainte-Lucie</option>
                                            <option value="Saint Vincent and the Grenadines">Saint-Vincent-et-les Grenadines</option>
                                            <option value="Trinidad and Tobago">Trinité-et-Tobago</option>
                                            <option value="United States">États-Unis</option>
                                        </optgroup>
                                        <optgroup label="Amérique du Sud">
                                            <option value="Argentina">Argentine</option>
                                            <option value="Bolivia">Bolivie</option>
                                            <option value="Brazil">Brésil</option>
                                            <option value="Chile">Chili</option>
                                            <option value="Colombia">Colombie</option>
                                            <option value="Ecuador">Équateur</option>
                                            <option value="Guyana">Guyane</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Pérou</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Venezuela">Venezuela</option>
                                        </optgroup>
                                        <optgroup label="Europe">
                                            <option value="Albania">Albanie</option>
                                            <option value="Andorra">Andorre</option>
                                            <option value="Armenia">Arménie</option>
                                            <option value="Austria">Autriche</option>
                                            <option value="Azerbaijan">Azerbaïdjan</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgique</option>
                                            <option value="Bosnia and Herzegovina">Bosnie-Herzégovine</option>
                                            <option value="Bulgaria">Bulgarie</option>
                                            <option value="Croatia">Croatie</option>
                                            <option value="Cyprus">Chypre</option>
                                            <option value="Czech Republic">République Tchèque</option>
                                            <option value="Denmark">Danemark</option>
                                            <option value="Estonia">Estonie</option>
                                            <option value="Faroe Islands">Îles Féroé</option>
                                            <option value="Finland">Finlande</option>
                                            <option value="France">France</option>
                                            <option value="Georgia">Géorgie</option>
                                            <option value="Germany">Allemagne</option>
                                            <option value="Greece">Grèce</option>
                                            <option value="Hungary">Hongrie</option>
                                            <option value="Iceland">Islande</option>
                                            <option value="Ireland">Irlande</option>
                                            <option value="Italy">Italie</option>
                                            <option value="Latvia">Lettonie</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuanie</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macedonia">Macédoine</option>
                                            <option value="Malta">Malte</option>
                                            <option value="Moldova">Moldavie</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Montenegro">Monténégro</option>
                                            <option value="Netherlands">Pays-Bas</option>
                                            <option value="Norway">Norvège</option>
                                            <option value="Poland">Pologne</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Romania">Roumanie</option>
                                            <option value="San Marino">Saint-Marin</option>
                                            <option value="Serbia">Serbie</option>
                                            <option value="Slovakia">Slovaquie</option>
                                            <option value="Slovenia">Slovénie</option>
                                            <option value="Spain">Espagne</option>
                                            <option value="Sweden">Suède</option>
                                            <option value="Switzerland">Suisse</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Kingdom">Royaume-Uni</option>
                                            <option value="Vatican City">État de la Cité du Vatican</option>
                                        </optgroup>
                                        <optgroup label="Asie">
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Bahrain">Royaume de Bahreïn</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Bhutan">Bhoutan</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Cambodia">Cambodge</option>
                                            <option value="China">Chine</option>
                                            <option value="East Timor">Timor Oriental</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="India">Inde</option>
                                            <option value="Indonesia">Indonésie</option>
                                            <option value="Iran">Iran</option>
                                            <option value="Iraq">Irak</option>
                                            <option value="Israel">Israël</option>
                                            <option value="Japan">Japon</option>
                                            <option value="Jordan">Jordanie</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="North Korea">Corée du Nord</option>
                                            <option value="South Korea">Corée du Sud</option>
                                            <option value="Kuwait">Koweït</option>
                                            <option value="Kyrgyzstan">Kirghizistan</option>
                                            <option value="Laos">Laos</option>
                                            <option value="Lebanon">Liban</option>
                                            <option value="Malaysia">Malaisie</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mongolia">Mongolie</option>
                                            <option value="Nepal">Népal</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palestine">Palestine</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Russia">Russie</option>
                                            <option value="Saudi Arabia">Arabie Saoudite</option>
                                            <option value="Singapore">Singapour</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Syria">Syrie</option>
                                            <option value="Taiwan">Taïwan</option>
                                            <option value="Tajikistan">Tadjikistan</option>
                                            <option value="Thailand">Thaïlande</option>
                                            <option value="Turkey">Turquie</option>
                                            <option value="Turkmenistan">Turkménistan</option>
                                            <option value="United Arab Emirates">Émirats Arabes Unis</option>
                                            <option value="Uzbekistan">Ouzbékistan</option>
                                            <option value="Vietnam">Vietnam</option>
                                            <option value="Yemen">Yémen</option>
                                        </optgroup>
                                        <optgroup label="Océanie">
                                            <option value="Australia">Australie</option>
                                            <option value="Fiji">Fidji</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Marshall Islands">Îles Marshall</option>
                                            <option value="Micronesia">Micronésie</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="New Zealand">Nouvelle-Zélande</option>
                                            <option value="Palau">Palaos</option>
                                            <option value="Papua New Guinea">Papouasie-Nouvelle-Guinée</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="Solomon Islands">Îles Salomon</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                        </optgroup>
                                        <optgroup label="Afrique">
                                            <option value="Algeria">Algérie</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Benin">Bénin</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cameroon">Cameroun</option>
                                            <option value="Cape Verde">Cap-Vert</option>
                                            <option value="Central African Republic">République Centrafricaine</option>
                                            <option value="Chad">Tchad</option>
                                            <option value="Comoros">Comores</option>
                                            <option value="Democratic Republic of the Congo">République démocratique du Congo</option>
                                            <option value="Republic of the Congo">Congo</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Egypt">Égypte</option>
                                            <option value="Equatorial Guinea">Guinée Équatoriale</option>
                                            <option value="Eritrea">Éritrée</option>
                                            <option value="Ethiopia">Éthiopie</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambie</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Guinea">Guinée</option>
                                            <option value="Guinea-Bissau">Guinée-Bissau</option>
                                            <option value="Cote d'Ivoire">Côte d'Ivoire</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Libéria</option>
                                            <option value="Libya">Libye</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Mauritania">Mauritanie</option>
                                            <option value="Mauritius">Maurice</option>
                                            <option value="Morocco">Maroc</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Namibia">Namibie</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Sao Tome and Principe">Sao Tomé-et-Principe</option>
                                            <option value="Senegal">Sénégal</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Somalia">Somalie</option>
                                            <option value="South Africa">Afrique du Sud</option>
                                            <option value="Sudan">Soudan</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="United Republic of Tanzania">Tanzanie</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tunisia">Tunisie</option>
                                            <option value="Uganda">Ouganda</option>
                                            <option value="Zambia">Zambie</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                        </optgroup>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Code Postal:<span class="required"> * </span></label>
                                <input id="element_8" name="element_8" value="" class="validate[required] form-control" type="text" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Nom/Titre de l'opérateur:<span class="required"> * </span></label>
                                <input id="element_12" name="element_12" value="" class="validate[required] form-control" type="text" placeholder="Prénom" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <input id="element_13" name="element_13" value="" class="validate[required] form-control" type="text" placeholder="Nom" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <input id="element_15" name="element_15" value="" class="validate[optional] form-control" type="text" placeholder="Titre" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nº de téléphone:<span class="required"> * </span></label>
                                <input id="element_16" name="element_16" class="validate[required,custom[telephone]] form-control" value="" type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Email:<span class="required"> * </span></label>
                                <input id="element_17" name="element_17" class="validate[required,custom[email]] form-control" value="" type="email" required/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nº de catalogue:<span class="required"> * </span></label>
                                <input id="element_18" name="element_18" value="" class="validate[required] form-control" type="text" required/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Nº de lot du kit:</label>
                                <input id="element_19" name="element_19" value="" class="validate[optional] form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Nº du kit:</label>
                                <input id="element_20" name="element_20" value="" class="validate[optional] form-control" type="text" />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Nº de série de l'appareil:</label>
                                <input id="element_21" name="element_21" type="text" class="form-control" placeholder="1P0XXXX">

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Type de procédure:</label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select id="element_22" name="element_22" class="form-control">
                                        <option value="">Sélectionner</option>
                                        <option value="TPE">TPE</option>
                                        <option value="RBCX">RBCX</option>
                                    </select>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="incident-information">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="alert alert-danger" role="alert"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Incident Information</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Quand cet incident s’est-il produit?<span class="required"> * </span></label>
                                <div class="styled-select form-control">
                                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                    <select id="element_23" name="element_23" class="form-control" required>
                                        <option value="">Sélectionner</option>
                                        <option value="Load">Chargement</option>
                                        <option value="Tubing set test">Test du kit</option>
                                        <option value="Prime">Amorçage</option>
                                        <option value="Run">Procédure</option>
                                        <option value="Rinseback">Restitution</option>
                                        <option value="Unload">Déchargement</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Cet incident a-t-il provoqué un décès ou des blessures?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if there was a death related to the use of the device."></span>
                                </p>
                                <input id="element_24_0" name="element_24" value="NO" class="validate[required]" type="radio" required>
                                <label class="radio-margin-right"><span><span></span></span>Non</label>
                                <input id="element_24_1" name="element_24" value="YES" class="validate[required]" type="radio" required>
                                <label class=""><span><span></span></span>Oui</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Cet incident a-t-il exigé une intervention médicale?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if the procedure resulted in an unplanned medical treatment such as hospitalization, blood transfusion or medications."></span>
                                </p>
                                <input id="element_25_0" name="element_25" value="NO" class="validate[required]" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Non</label>
                                <input id="element_25_1" name="element_25" value="YES" class="validate[required]" type="radio" required/>
                                <label class=""><span><span></span></span>Oui</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Cet incident a-t-il été signalé à un organisme de réglementation?<span class="required"> * </span></label>
                                </p>
                                <input id="element_26_0" name="element_26" value="NO" class="validate[required]" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Non</label>
                                <input id="element_26_1" name="element_26" value="YES" class="validate[required]" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Oui</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Ce produit peut-il être renvoyé?<span class="required"> * </span></label>
                                </p>
                                <input id="element_27_0" name="element_27" value="NO" class="validate[required]" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Non</label>
                                <input id="element_27_1" name="element_27" value="YES" class="validate[required]" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Oui</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Informations Complémentaires:<span class="required"> * </span></label>
                                <textarea title="This Field is Required" id="element_29" name="element_29" cols="45" rows="5" class="validate[required] form-control" onfocus="this.value=''; this.onfocus=null;" placeholder="Saisissez des informations complémentaires sur l'incident. Si une intervention médicale a été requise, décrivez le traitement et le résultat de ce dernier." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <p>
                                    <label class="control-label">Souhaitez-vous qu'un expert qualité de Terumo BCT vous contacte?<span class="required"> * </span></label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom" title="Select Yes if the procedure resulted in an unplanned medical treatment such as hospitalization, blood transfusion or medications."></span>
                                </p>
                                <input id="element_28_0" name="element_28" value="NO" class="validate[required]" type="radio" required/>
                                <label class="radio-margin-right"><span><span></span></span>Non</label>
                                <input id="element_28_1" name="element_28" value="YES" class="validate[required]" type="radio" required/>
                                <label class=""><span><span></span></span>Oui</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input name="element_counts" value="34" type="hidden" />
    <input name="embed" value="forms" type="hidden" />
</form>